.statusImg {
	width: 30px;
	float: left;
	margin-top: 7px;
	line-height: 0;
}

.statusText {
	line-height: 10px;
}

.statusText p {
	width: 65px;
	margin-left: 15px;
	font-size: 10px;
	height: 33px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.mblButton, .mblToggleButton, .mblToggleButtonSelected.Selected {
	font-weight: bold;
	background-color: #EFEFF3;
	background-image: none;
	/*border: 1px solid #DDD;*/
	text-align: center;
	color: black;
}

.feedbackStatusButton, .reassignButton {
	cursor: pointer;
	font-weight: bold;
	background-color: #EFEFF3;
	background-image: none;
	border: 1px solid #DDD;
	/*border-bottom: 2px solid #DDD;*/
	width: 100px;
	margin: 4px;
	margin-left: 6px;
	height: 32px;
	float: left;
	padding: 0 5px;
}

.feedbackStatusButton:hover, .reassignButton:hover {
	border-bottom: 3px solid #CACACA;
	margin-top: 2px;
	transition: all .2s ease-in-out;
}

.buttons {
	padding: 0 !important;
	text-align: right;
}

.simplePane {
	width: 280px;
	overflow-x: hidden;
}

.invitePanel {
	display: none;
	padding: 5px;
	text-align: center;
}

/* Template Picker Overrides */

.templatePicker .grid .dojoxGridRow {
	display: none;
}

.templatePicker .grid .dojoxGridRowOdd {
	background-color: #FFFFFF;
	display: block;
	float: left;
	width: 30%;
}

.templatePicker .dojoxGrid .dojoxGridCell {
	width: 7em !important;
}

.templatePicker .dojoxGrid {
	padding-left:	8%;
}

#provideFeedbackDiv {
	display: none;
}

.widgetTitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: -8px;
}

.signedIn {
	display: none;
}

.esriLegendServiceLabel {
	font-size: 14px !important;
}

.greyHR {
	height: 1px;
	border: none;
	color: #D6D6D6;
	background-color: #D6D6D6;
}

.narrowHR {
	margin-left: 7%;
	margin-right: 7%;
}

.spacedHR {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* hack colors... */

.claro .dijitSelectDisabled, .claro .dijitTextBoxDisabled, .claro .dijitTextBoxDisabled .dijitInputContainer {
	background-color: #FFF !important;
}

.dj_webkit .claro .dijitDisabled input {
	color: black !important;
}

.esriPopup .contentPane {
	max-height: 350px !important;
	overflow-x: hidden;
}

#divControl, label, table {
  float: left;
}

.commentPane {
	padding: 0px !important;
}

.commentButtons {
	float: right;
	margin-top: 8px;
}

.commentButton {
	margin: 2px;
	padding: 8px;
}

/* ComboBox */

.jimu-widget-gfx .dijitComboBox .dijitButtonNode {
	height: 28px;
}

.jimu-widget-gfx .dijitArrowButtonContainer {
  width: 20px;
}

.jimu-widget-gfx .dijitComboBox .dijitArrowButtonInner {
  margin: 5px 0 0 1px;
  border: 0;
}

.jimu-widget-gfx .dijitSelect {
  height: 30px;
  width: 100%;
}

#widget_intersectingCommunity .claro .dijitArrowButtonContainer {
  width: 20px;
}

#widget_intersectingCommunity .claro .dijitComboBox .dijitButtonNode {
	height: 28px;
}

#widget_intersectingCommunity .claro .dijitComboBox .dijitArrowButtonInner {
  margin: 5px 0 0 1px;
  border: 0;
}

#widget_intersectingCommunity .claro .dijitSelect {
  height: 30px;
  width: 100%;
}

.esriAttributeInspector .atiAttachmentEditor {
	padding: 0 !important;
}

.esriAttributeInspector .atiButtons {
	border: 0 !important;
}

.hoverRed {
	color: blue;
	cursor: pointer;
	text-decoration: none !important;
}

.hoverRed:hover {
	color: red;
}

.editorDiv {
	width: 100%;
}

.jimu-widget-gfx .grid {
	height: 74px;
}

.jimu-widget-gfx .templatePicker .dojoxGrid {
	padding-left: 7%;
	padding-top: 2%;
}

.sliderDijit {
	width: 165px;
}

.noCommentDiv {
	background-color: #F04A4A;
	color: white;
}

/* About Styles */

.loginPane {
	background-color: white;
  z-index: 999;
  width: 340px;
  max-height: 320px;
  position: absolute;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
}

.login .loginButtons {
	margin-bottom: 20px;
}

.login .jimu-btn {
	margin: 5px;
}

.login .logo {
  margin: auto;
  display: block;
  width: 150px;
  margin-top: 20px;
}

.login .divTitle, .login .version {
  margin: 20px 20px 0px 20px;
  color: #686868;
}

.login .divTitle {
  font-size: 14px;
}

.center {
	text-align: center;
}

.login label {
	float: none;
}

.login .version {
  font-size: 14px;
}

.login .line {
  margin: 20px 10px;
  height: 0;
  border-bottom: 1px dashed;
}

